
/*--------------------------------
  Typography
--------------------------------*/

body              { font-family: "Utopia", sans-serif; font-style: normal; color: #444; }
a                 { text-decoration: none; color: inherit; border-bottom: 1px solid #ddd; }
a:hover           { border-bottom: 1px solid #222; }
em                { font-style: italic; }
strong            { font-weight: 600; }
h1, h2, h3,
h4, h5, h6        { font-family: "Utopia", sans-serif; font-style: normal; font-weight: 900; color: #222; margin: 1em 0;}
h1                { font-size: 2em; line-height: 1.33em;}
h2                { font-size: 1.55em; line-height: 1.25em; }
h3                { font-size: 1.15em; }
h4                { font-size: 1em; }
h5                { font-size: 0.78em; }
h6                { font-size: 0.67em; }
h4, h5, h6        { text-transform: uppercase; letter-spacing: 0.15em; }
p, ul, pre, table { margin: 0; margin-bottom: 1em; }
code, pre         { font-size: 1.1em; color: #222;}
blockquote        { border-left: 2px solid #222; color: #222; padding-left: 2em; margin: 0; }
hr                { border: 0; height: 0.12em; display: block; margin: 3em auto; background: #222; }
table             { width: 100%; }
th, td            { padding: 1em; text-align: center;}
td                { font-size: 0.88em; }
th {
  border-bottom: 1px solid #222;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  text-align: center;
  color: #222;
}
dt { font-weight:bold;}
li {  margin: 0.5em 0; }
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/*--------------------------------
  Layout
--------------------------------*/

body {
  margin: 0;
  text-align: justify;
}

#wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 60px 9%;
  margin-top: 50px;
  background: #fff
}

#banner {
  margin-top: 0.3em;
  display: inline-block;
  width: 100%;
}

.paginator{
  text-align:center;
}

header, section, footer, a {
  transition: 0.2s;
}

header {
  clear: both;
  padding-bottom: 3em;
  padding-top: 1px;
  border-bottom: 0.3em solid #222;
}

header a {
  border-bottom: 0px;
}

header a:hover {
  border-bottom: 0px;
}

.byline{
  float: left;
}

.byline li{
  display: inline-block;
  padding-right:0.1em;
}

.byline ul{
  list-style-type: none;
  padding-left:0;
}

.byline a {
  color: #888;
  text-align: center;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
}

.neighbors{
  margin: 2em 2em;
  font-size:medium;
  font-family: "Utopia", sans-serif;
  font-style: normal;
}

.neighbors i{
  margin-left:0.2em;
  margin-right: 0.2em;
}

.neighbors a{
  border-bottom:0;
}

.icons-top {
  float: right;
  font-size: 1.5em;
}

.icons-top a {
  margin: 0 1em;
  color: #888;
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a:hover{
  color:#54A2E0;
}

.icons-top a:last-child {
  margin-right: 0;
}

.published {
   margin-bottom: 1em ;
}

.translations {
  text-align: left;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-right: 0.5em;
  float: right;
}

header hgroup {
  clear: both;
  border-top: 0.3em solid #222;
  margin-top: 3em;
}

.article-list{
  border-bottom:0;
  padding-bottom:0.5em;
}

header h1 {
  margin-bottom: -0.8em;
  padding-bottom: 1.0em;
  font-family: "Utopia", sans-serif;
  font-style: normal;
  line-height: 1.33em;
  font-style: italic;
  font-size: 5em;
}

.sitename {
  margin-top: 0.3em;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
}

.tagline {
  margin:0;
  margin-top: 0.7em;
  font-family: "Utopia", sans-serif;
  font-style: normal;
  line-height:1.5em;
  background-color: #54A2E0;
  padding: 0.2em;
}

section {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 0.3em solid #222;
  margin-top: 1px;
  border-top: 0.1em solid #222;
}

.article{
  padding-top: 2em;
  padding-bottom: 0em;
  border-bottom: 0;
}

.article-share-tags{
  padding-top: 4em;
  border-bottom: 4px solid #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: small;
}

.end-article-tags{
  float: right;
}

.article-share a{
  border-bottom:0;
}
.entry-title{

  margin: 0px;
}
.entry-content{
  padding-left:0.5em;
  padding-right:0.5em;
}

address{
  font-style: normal;
}

.post-info abbr, address, .article-footer author, address{
  color: #fff;
  background-color: #54A2E0;
  padding: 0.2em;
  margin-left: 0.5em;
}

.post-info a, .article-footer a{
  border-bottom:0;
}

.post-info a:hover, .article-footer a:hover{
  color: #fff;
  border-bottom: 1px solid #fff;

}

.post-info{
  font-size:small;
}

#post-list{
  list-style-type:none;
  padding: 10px;
}

#post-list li{
  border-bottom: 2px solid #222;
  margin-bottom: 3em;
  padding-bottom: 1em;
}

section h1:first-child {
  margin-top: 0;
}

figure {
  margin:0.4em;
}

figure img {
  width:100%;
}

figcaption {
  text-align:center;
}

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
  border: 0.1em solid #444;
  border-right: 0.2em solid #444;
  border-bottom: 0.2em solid #444;
}

footer {
  margin-top: 8px;
  overflow: hidden;
  text-align: left;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer-site {
  text-align: center;
  margin-top: 0.1em;
  border-top: 0.1em solid;
  padding-top: 2em;
}

footer address{
  display: inline;
}

div#content > h1:first-child { display: none; }

.left-footer{
  float: left;
  display: inline;
}

.center-footer{
  float: center;
  display: inline-block;
}

.right-footer{
  float: right;
  display: inline;
}

.src{
  background-color: #263238;
  color: #ffffff;
  padding-left: 5px;
  overflow: scroll;
}
.slicknav_menu {
	display:none;
}

.simple-footnotes li {
  font-size: 14px;
}

@media print {
  body { font-size: 12px; }
  header { border: 0;padding: 0; margin: 0; text-align: center; }
  .icons-top, .byline, footer { display: none; }
  header hgroup { border: 0; padding: 0; margin: 0; }
  header h1 { margin: 0; padding: 0; font-size: 3em; border: 0; }
  header h2 { border: 0; margin: 0; }
  .icons-top, footer { display: none; }
  section { border: 0; }
}

@media screen and (max-width: 650px) {
  body { font-size: 16px; background: #fff; }
  #wrapper { margin: 15px; padding: 0; padding-top:40px; }
  .byline { text-align:center; float:none; }
  .icons-top { text-align:center; float:none; margin-bottom: 0.5em; border-bottom: 0.1em solid #222; padding-bottom: 0.3em; }
  .icons-top a:first-child {margin-left: 0; }
  header hgroup { border: 0; margin: 0; text-align:center; }
  header h1 { font-size: 3em; border: 0; padding: 0; margin-bottom: -0.2em; }
  .tagline { border: 0; margin-top: 0.5em; }
  header div { border: 0; }
  footer p { width: 100%; float: none; }
  footer p:last-child { text-align: left; }
  .article-footer {text-align: center;}
  /* #menu is the original menu */
  #menu {
    display:none;
  }
  .slicknav_menu {
    display:block;
  }
}
