<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{SITENAME}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    Some minimalist style
-->
    <link rel="stylesheet" href="/theme/fonts.css">
    <link rel="stylesheet" href="/theme/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!--
    A simple website like this doesn't need Javascript, but to write nice maths.
-->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>

<!--
    Favicons
-->
    <link rel="icon" href="/theme/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    <link rel="apple-touch-icon" sizes="114x114" href="/theme/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/theme/favicon152.png">
    <link rel="apple-touch-icon" sizes="196x196" href="/theme/favicon196.png">
</head>

<!--

                                                                                                            .%@  @(///#%@@@@@#
                                                                                                       %@&.   ,@ @.          #( @*@@
                                                                                                   ,@(         @ /%          *% @    #@,
                                                                                                 @&             &.@          #(&*       #@
                                                                                                (#              @.@          @ @           @(
                                                                                            (#(  ,(             %(@          ##   %          (,
                                                                                          ((  #   ,(             #/         *#   .          *(
                                                                                        .@    .(   (       .     #,         @    (         ,/   #
                                                                                       #,      @    %            (         #    #         /(  .@@
                                                                                      #        ,(   @       .                  @/        #.  ## @
                                                                                    ,&          #   *(      %                 @@        #   #   .(
                                                                                   %%           .*   #      .                &@        #  #      @
                                                                                  @,             #   #       (    /         *@%       #        @
                                                                                 %*              */  #       #    *        .@#      #.@.         @
                                                                                %#                #  #       @             ##     .#@            (.
                                                                               *#                 .(.@       %     *      #(*    %@              (,
                                                                              ,@        ,          @/%       /.    .     @/&    %      *         #/
                                                                               #/       %          .@,       ,*   ,     @ @                      #/
                                                                         @      @*      @           @        ,(   #    @ @          @            %/
                                                                          @@     @      @           /        ,#       @ @         **             &,
                                                                      .    @&(    @     &                    /(      @ @         @       .       @
                                                                      %@   &,.@   @.    /*                   %,     @ @,       @       &         @
                                                        %             @ @   @  @  .@     @                   @     @ @,      @.     ,@         %@
                                                       &              &  @  &   @  @     @                   @   .@ %,          /@          @
                                                       .             #    %  &  ,@ @     #                   @  (@ @/    (,     @@          @
                                                      (             ,(    .* #   %.&*    ,.                 *& #/ %.   #     ,#             .#.
                                                      (             #      # #    @**     #                 @ @, #. ,#     #/          @*   #(.(
                                                      ,            @        #**   %#*     @    ,            @@  # #*    @&          ##   #(   #
                                                      *           @         #.(    #*     #    (           (@  ##    #@          #/  &@,     #
                                                      (          @          .*#    @,     /.   (          .@  @  ,#/         &@.*@@,        (*
                                                       #       /(            ##    /.     ,,   #         @( /@@#         (@@@@,            (.
                                                         @    #       .      ##           *(   #        @  @/        /@@#                 #
                                                           (  (.      #      *#           ((   @      .@  #      (/                      #
                                                         .. / ,/      /       #           (,  .*     //  #
                                                         ,&  @.(      (       @           #   (     #  %(              (             .@     (
                                                         &@  %,&      #       @           #   #   /@  @            @@       /      .@    *@/
                                                         @@  %#(      @       *           @  (@  @  (%        %@@       /@       /@    @%@
                                                        %.@  @@       @    .             @.  @.(@  @     ,           @&        @(  .@%  @
                                              (        /@ @. *@       %    .             @  #@@. *%              #@#        @@  (@/    @
                                              /       *%  @ ,,(       *   ..            @/  @@  @           .@@&        ,@% #@%       @
                                             @       @/   @ %@       *    /            #@  @  /,       #@@@          @@(@@.          @
                                            /*      @    &* &,       @    @            @ @*  @@@@@@@(           *@@@&               @
                                            (     @(     @ @&        @    @           @%@  @                &@&.                   @
                                           @     @      @ ,@        ,#    %          @@  *,             @*                        @
                                          /    #,   .  (. @         #    (          @. ./                                       ,@
                                         /    #        # @          #    (        @/  #                     (.                 #
                                        (   .@     (   /#          #    /       @%  #                 *@#                    #.     (@@&/**,..
                                       #    @     ,                @          *#  @            *&(.             *         .@*,%#/
                                       .   @      (               &    #    *(  #                          (@*          @@(
         .                            *   %/     *                @       #(  #                      .@@@            #&     (
                                      #   @      @               @      @%  #                *(###/             .##      #@
           ,          ,.              #  .#      &              *.    @(  #*/////%#**..                     #@&      .@@@
            (                (,       (  /      *,              #   @/ .@                              #@#.      ,##..#
              #                  @.   ,  (      (              # *#  **                          (##,     .(#&%    /#
                 /#.         #&@  @  / (      #             (  #                      /#######((*,           @%
                                    # (& /*     @.          /@  *@                                            (@
                                     /*#( @     #%        @@  @,       .,/#&@@@%.                          .@#
                                      # (.#      #     /@. /@                                /           @@
                            @@#,,#@   /  #*/     #  ,#% .@.                         .%@%              @@
          *              @*         (.(   ##     ,%@  @( (&@@@@@@@@@@@@@@@@@@@&(                  *@#
             %        (/              @   @@@ .@@ .@%                                         .@@
                                      @.  (/@@ *@@                                        &@%
                                      @@,@@ *@@#                                     &@@.
                                     @@@ %#/,(&@@@@@#/                     /@@@%
                                  @@#*#######(,        /    *@%#######(/.
                              /@@.@@/..  .*(#(.   #/     ,     #
                           ##*###               %(   (    &.    #
                       #@@##(                     #    (    //  ..               /&/*,,*/#*
                   /@@@@.                          (    (       /@/     ./@*                  .
               .#@@.                                *    ,      (
            (.                                           @      /
                                                   #     @      (
                                                  *      @       ,
                                                *        /         (/
                                            /           .
                                                        (
                                                        &
                                                        ,
                                                         .
-->

  <body>
    <div id="wrapper">
      <header>
        <nav class="byline"><ul id="menu">
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% else %}
              {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                  <li {% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
              {% endif %}
            {% endif %}
            </ul></nav><!-- /#menu -->
            <div class="icons-top">
                <a href="{{ SITEURL }}/" class="fa"> 🖋 </a>
                <a href="{{ FEED_RSS }}" class="fa fa-rss">
                {% for site, url in SOCIAL%}
                <a href="{{url}}" class="fab fa-{{site}}"></a>
                {% endfor %}
            </div>
            {% block header %}
            {% endblock %}
      </header>
        {% block content %}
        {% endblock %}

        <footer class="footer-site">
            <!--
              « L'homme a commencé par les pieds. »
                  — André Leroi-Gourhan, L'homme et la matière.
            -->
            <div class="left-footer">
                <a href="{{ SITEURL }}/pages/about.html" >{{ ABOUT_PLACEHOLDER }}</a>
            </div>
            <div class="center-footer">
                {{ LICENSE }}
            </div>
            <div class="right-footer">
                <a href="{{ SITEURL }}/categories.html" >{{ CATEGORIES_PLACEHOLDER }}</a>
            </div>
        </footer>
    </div>
</body>
</html>
