{% extends "base.html" %}
{% block header %}
      <hgroup>
        <div class="banner-container">
			    <img id="banner" src="/theme/banner.jpg"/>
		    </div>
		    <h1 class="sitename">{{SITENAME}}</h1>
		    <div class="translations">
  		    {{TRANSLATIONS_PLACEHOLDER}}: <a href="/fr" rel="bookmark" title="French Version">fr</a> — <a href="/" rel="bookmark" title="English Version">en</a>
  		  </div>
		  </hgroup>
{% endblock %}

{% block content %}
		<section id="content">
		<ul id="post-list">
		{% for article in articles_page.object_list %}
		    <li>
				  <article class="hentry">
		        <header class="article-list">
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="link to {{ article.title|striptags }}">{{ article.title }}</a>
              </h2>
		          <footer class="post-info">
		            <abbr class="published" title="{{ article.date.isoformat() }}"> {{ON_PLACEHOLDER}} {{ article.date.strftime("%d.%m.%Y") }} </abbr>
		          </footer>
			    	</header>
		        <div class="entry-content"> {{ article.summary }} </div>
		      </article>
        </li>
		{% endfor %}
		</ul><!-- /#posts-list -->
		{% include 'pagination.html' %}
		</section><!-- /#content -->
{% endblock content %}
